{{define "groups"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groepjes aanmaken</title>
</head>
<nav>
    <a href="/home">Home</a>
</nav>
<body>
<h1>Groep aanmaken</h1>
<form action="/home" method="post">
  <p>Groepsnaam</p>
  <input type="text" placeholder="Groepsnaam" name="Groepsnaam">
    <input type="text" placeholder="Admin Naam" name="Adminnaam">
    <input type="submit" value="Aanmaken"> {{.ErrorGroep}}
</form>
</body>
</html>
{{end}}