{{define "member"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Groep aanmaken</h1>
<form action="/home" method="post">
    <p>nieuw groepslid</p>
    <input list="groups" name="GroupName">
    <datalist id="groups">
        {{range  .Groups}}
        <option value={{ . }}></option>
        {{end}}
    </datalist>
    <input list="users" name="UserName">
    <datalist id="users">
        {{range  .Users}}
        <option value={{ . }}></option>
        {{end}}
    </datalist>
    <input type="submit">
</form>
</body>
</html>
{{end}}