{{define "member"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav>
    <a href="/home">Home</a>
</nav>
<body>
<h1>Lid toevoegen aan groep</h1>
<form action="/home" method="post">
    <p>nieuw groepslid</p>
    <input placeholder="Groepsnaam" list="groups" name="GroupName" required>
    <datalist id="groups">
        {{range  .Groups}}
        <option value={{ . }}></option>
        {{end}}
    </datalist>
    <input placeholder="Username" list="users" name="UserName" required>
    <datalist id="users">
        {{range  .Users}}
        <option value={{ . }}></option>
        {{end}}
    </datalist>
    <input type="submit" value="New Member"> {{.Admin_Message}}
</form>
</body>
</html>
{{end}}